name: auto-label
on:
  workflow_call: {}

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        with:
          configuration-path: labeler.yml
          repo-token: ${{ secrets.GITHUB_TOKEN }}
