name: auto-request-reviewers
on:
  workflow_call: {}

permissions:
  contents: read
  pull-requests: write

jobs:
  request:
    runs-on: ubuntu-latest
    steps:
      - uses: necojackarc/auto-request-review@v0.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
