name: Auto Label (reusable)
on:
  workflow_call: {}

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout caller
        uses: actions/checkout@v4

      - name: Checkout org configs
        uses: actions/checkout@v4
        with:
          repository: kleffio/.github
          path: .org-config

      - name: Show org-config tree
        run: |
          pwd
          ls -la .
          ls -la .org-config
          ls -la .org-config/.github
          test -f .org-config/.github/labeler.yml && echo "labeler.yml FOUND" || (echo "labeler.yml MISSING" && exit 1)

      - name: Apply labels
        uses: actions/labeler@v5
        with:
          configuration-path: ".org-config/.github/labeler.yml"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
