name: _label-sync
on:
  workflow_call:
    inputs:
      config_repo: { type: string, default: kleffio/.github }
      config_ref: { type: string, default: main }
      unified_path: { type: string, default: configs/labels.yml }

permissions:
  contents: read
  issues: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: kleffio/.github/.github/actions/labels-provisioning@main
        id: prep
        with:
          config_repo: ${{ inputs.config_repo }}
          config_ref: ${{ inputs.config_ref }}
          unified_path: ${{ inputs.unified_path }}

      - name: Sync labels
        uses: EndBug/label-sync@v2
        with:
          config-file: ${{ steps.prep.outputs.labels_path }}
          delete-other-labels: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
