name: _markdown-lint
on:
  workflow_call:
    inputs:
      config_repo:
        type: string
        default: kleffio/.github
      config_ref:
        type: string
        default: main
      config_path:
        type: string
        default: .github/configs

jobs:
  markdownlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repository
        uses: actions/checkout@v4

      - name: Checkout centralized configs
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.config_repo }}
          ref: ${{ inputs.config_ref }}
          path: .github-org

      - name: Run Markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          config: ".github-org/${{ inputs.config_path }}/.markdownlint.jsonc"
          globs: |
            **/*.md
            !.github-org/**
            !.git/**
