name: _markdown-lint
on:
  workflow_call:
    inputs:
      config_repo: { type: string, default: kleffio/.github }
      config_ref:  { type: string, default: main }
      config_path: { type: string, default: configs }

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout org configs
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.config_repo }}
          ref: ${{ inputs.config_ref }}
          path: .org-config

      - name: Markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v17
        with:
          globs: "**/*.md"
          config: ".org-config/${{ inputs.config_path }}/.markdownlint.jsonc"
