name: pr-title
on:
  workflow_call:
    inputs:
      types:
        description: "Allowed conventional types"
        required: false
        type: string
        default: "feature,bugfix,chore,docs,refactor,security,tests"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: ${{ inputs.types }}
          subjectPattern: "^[A-Z0-9].+"
          subjectPatternError: "Start the subject with a capital letter."
