name: _require-label
on:
  workflow_call:
    inputs:
      config_repo: { type: string, default: kleffio/.github }
      config_ref: { type: string, default: main }
      unified_path: { type: string, default: configs/labels.yml }

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: kleffio/.github/.github/actions/labels-provisioning@main
        id: prep
        with:
          config_repo: ${{ inputs.config_repo }}
          config_ref: ${{ inputs.config_ref }}
          unified_path: ${{ inputs.unified_path }}

      - uses: kleffio/.github/.github/actions/require-label@main
        with:
          label_names_csv: ${{ steps.prep.outputs.label_names_csv }}
