name: require-label
on:
  workflow_call: {}

permissions:
  contents: read
  pull-requests: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: "feature, bugfix, chore, docs, security, tests, ci, dependencies"
