name: shellcheck
on:
  workflow_call:
    inputs:
      exclude:
        description: "Path pattern to exclude (e.g., './operator/*')"
        required: false
        type: string
        default: ""

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install shellcheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      - name: Run shellcheck
        run: |
          EXCLUDE_PATH="${{ inputs.exclude }}"
          if [ -z "$EXCLUDE_PATH" ]; then
            EXCLUDE_PATH="./.git/*" # Dummy path
          fi

          echo "Running shellcheck (excluding: $EXCLUDE_PATH)..."


          find . -type f -name "*.sh" -not -path "$EXCLUDE_PATH" -exec shellcheck {} + || true
