name: trivy-image
on:
  workflow_call:
    inputs:
      image: { type: string, required: true }
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ inputs.image }}
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
