name: yaml-lint
on:
  workflow_call: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ibiqlik/action-yamllint@v3
        with:
          format: github
          config_file: .yamllint.yml
